@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

:root {
    --transition: all .1s ease-in;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid white; */
}

body {
    background-color: #611f69;
    overflow: hidden;
    letter-spacing: 1px;
}

.logo {
    display: flex;
    align-items: center;
    width: 5%;
    margin-right: 5rem;
}

span img {
    width: 100%;
    
}

.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    color: #fff;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    max-width: 100%;
    height: 80px;
    margin: auto  3%;
    border-radius: 10px;
}

.navigation {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-right: 7rem;
}

.navigation .nav {
    padding-right: 16px;
    line-height: 21px;
    font-size: 16px;
    display: flex;
}

.search {
    display: flex;
    align-items: center;    
}

.search-btn {
    display: flex;
    align-items: center;
    width: 2%;
    margin-right: 15px;
    cursor: pointer;
}


.navbar a {
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 15px;
    padding: 0px 10px;
    margin: 10px auto;
    border-radius: 5px;
}

.sales-btn {
    font-size: 16px;
    color: #fff;
    border: 1px solid #fff;
}

.sales-btn:hover {
    border: 1px dashed #fff;
    transition: var(--transition);
    overflow: hidden;
}

.workspace-btn {
    background-color: #fff;
    color: #611f69;
}

.workspace-btn:hover {
    border: 1px dashed #fff;
    transition: var(--transition);
    color: #fff;
    background-color: transparent;
}